.Experience
{
    margin-top: 100px;
    height: 700px;
    overflow: hidden;

    .Experience-title
    {
        height: 100px;
        padding-top: 15px;
        text-align: center;
        background-color: white;
        margin-bottom: 50px;
    }


    .Experience-content 
    {

        .Mission
        {
            font-size: 30px;
            
        }

        

        .tag-content
        {
            margin-top: 20px;
            border: 1px solid none;
            background-color: white;
            border-radius: 10px        ;
            -webkit-border-radius: 10px        ;
            -moz-border-radius: 10px        ;
            -ms-border-radius: 10px        ;
            -o-border-radius: 10px        ;
        }
    }
}