.skill
{
    margin-top: 100px;
    .skill-title
    {
        height: 80px;
        padding-top: 15px;
        text-align: center;
        background-color: white;
        margin-bottom: 50px;
    }

    .skill-content
    {
        height: 300px;
    }

    .line
    {
        position: relative;
        height: 15px;
        width: 80%;
        background-color: rgb(209, 205, 205);
        overflow: hidden;


        .Quality
        {
            position: absolute;
            top: -4px;
            height: 15px;
            background-color: #1a1a1a;

            span
            {
                margin-top: -5px;
                margin-right: 10px;
            }
        }
    }

    .html-css
    {
        margin-top: 5px;
        width: 85%;
    }

    .JavaScript
    {
        margin-top: 5px;
        width: 60%;
    }

    .Jquery
    {
        margin-top: 5px;
        width: 55%;
    }

    .Algorithm
    {
        margin-top: 5px;
        width: 78%;
    }
}